/* univeral selector */
*{
    margin: 0;
    padding: 0;
}

/* id selector and External css */
#External{
    color: green;
    font-size: 40px;
}

h6{
    font-size: 40px;
    color: red;
}
.cls{
    font-size: 30px;
    color: blue;
}

#grp h1, p{
    color: purple;
}

#grp1 p{
    color: darkblue;
}

/* (+) for adjacent selector , (~) for general child selector (>) direct child selector */

#attri a[href^="https"]{
    color: green;
}

#attri a[target="_blank"]{
    background-color: aqua;
}

/* border and color */
.box #box1, #box2, #box3, #box4{
width: 100px;
height: 100px;
}

.box{
    margin: 20px;
    border: 4mm ridge rgba(135, 206, 235, 0.6);
}
#box1{
    margin: inherit;
    background-color: black;
    border: 5px double green;
    border-radius: 8px;
}

#box2{
    background-color: rgb(255, 213, 100);
    border: 1px dotted red;
    border-left-width: thick;
    margin: auto;
}

#box3{
    background-color: rgb(85, 39, 39);
    border: dashed green;
    border-right: 1px solid yellow;
    border-width: 2px;
}
#box4{
    background-color: hsla(120, 100%, 50%, 0.3);
    border: 1px solid black;
    border-top-right-radius: 20px;
}

.boxs #box5, #box6{
    width: 100px;
    height: 100px;
}

#box5{
    background-color: black;
    margin: 20px;
}

#box6{
    background-color: rgb(255, 213, 100);
    margin: -120px 0px 0px 150px;
}

#box6 p{
    padding: 20px;
}

#box5 p{
    padding: 40px 15px 10px 20px;
}

/* width, height and outline */
#wh{
    border: 1px solid black;
    max-width:300px;
    max-height: 100px;
    background-color: lightgreen;
    outline: 2px solid blue;
    outline-offset: 2px;    
}

/* Fonts */
#fonts{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

#fonts span{
    color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 1000;
    text-transform:uppercase;
}

#fonts h4{
    font-family: "poppins",sans-serif;
}

/* Link */
.links a{
    color: green;
    text-decoration: none;
}

.links a:visited{
    color: red;
}

.links a:hover{
    color: blueviolet;
}

.links a:active{
    color: black;
}

.l1{
    margin: 20px;
    list-style-type: square;
}
.l2{
    margin: 20px;
    list-style-type: lower-roman;
}
.l3{
    margin: 20px;
    list-style-type: upper-alpha;
}
.l4{
    margin: 20px;
    list-style-type: circle;
}
.l5{
    margin: 20px;
    list-style-type: upper-roman;
}
.l6{
    margin: 30px;
    list-style-type: decimal-leading-zero;
}
/* Positions */
/* relative */

.one{
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 20px;
    position: relative;
    top: 40px;
    left: 20px;
    z-index: 1;
}

.two{
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 20px;
    position: relative;
}

/* absolute */
.three{
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 20px;
    position: relative;
}
.three p{
    color: white;
    position: absolute;
    top: 20px;
    left: 10px;
}
.four{
    background-color: yellow;
    height: 50px;
    width: 50px;
    opacity: 1;
}
.over {
    height: 100px;
    width: 400px;
    border: 1px solid black;
    overflow: scroll;
}
.tr{
    background-color: rgb(45, 207, 252);
    height: 100px;
    width: 100px;
    /* transition: all 1s cubic-bezier(0.97, 0.05, 1, 1); */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tr:hover{
    background-color: #009900;
    transform: scaleY(1.2) rotate(45deg) ;
    /* transform: rotate(45deg); */
}
.ani{
    border: 1px solid black;
    height: 200px;
    width: 800px;
    position: relative;
}
.ani h1{
    animation-name: text;
    animation-duration: 7s;
    position: absolute;
    animation-iteration-count: infinite;
}
@keyframes text {
    0%{left: 0; top: 0; color: #da3d6f;}
    33%{ left:200px; top: 150px; color: #2994d1;}
    66%{ top :0px; left: 400px; color: #23a300;}
    100%{ left: 650px;top: 150px;color: #d3cc36;}
}

.ani1 img{
    animation-name: image;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin: 30px;
}
@keyframes image {
    25%{transform: skew(20deg);}
    50%{transform: skew(0deg);}
    75%{transform: skew(-20deg);}
    100%{transform: skew(0deg);}
}
.dis{
    display: flex;
}
.dispele{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.dis1 span{
    display: block;
    color: #23a300;
    background: #000;
}
.dis1 p{
    display: inline;
    color: #23a300;
    background: #000;
}

.med{
    height: 30px;
    background-color: #009900;
}
@media screen and (max-width:900px){
.med{
    background-color: #990000;
}
}
@media screen and (max-width:600px){
.med{
    background-color: #dbc00e;
}
}
.med1{
    height: 30px;
    background-color: #009900;
}

@media screen and (min-width:600px){
.med1{
    background-color: #dbc00e;
}
}
@media screen and (min-width:900px){
    .med1{
        background-color: #990000;
    }
}
/* flex */
.flexc{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #2994d1;
}
.fb{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 10px;
    flex: 1;
    flex-basis: 20%;
}
.b1 , .b2{
    flex-shrink: 1;
}
/* flex attributes
order, flex grow, flex shrink, flex basics */
.fp{
    display: flex;
}
#p1{
    background-color: cornflowerblue;
    color: #000;
}
#p2{
    background-color: #da3d6f;
    color: #000;
}
#p3{
    background-color: #d3cc36;
    color: #000;
}
.grids{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    column-gap: 10px;
    row-gap: 10px;
}
.grids p{
    background-color: #5be8d8;
    padding: 10px;
}
.lay{
    display: grid;
    grid-template-rows: 10vh 10vh 10vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.lay h3{
    background-color: #da3d6f;
    padding: 20px;
    text-align: center;
    justify-items: stretch;
}

.head{
    grid-column-start: 3 span;
}
.foot{
    grid-column-start: 3 span;
}

